{{- define "main" }}
<div class="not-found">404</div>
<div>
    <p>Oops! The page you're looking for doesn't exist or has been moved.</p>
    <p>Here are some options to help you find your way:</p>
    <ul>
        <li><a href="{{ .Site.BaseURL }}">Go back to the homepage</a></li>
        <li><a href="{{ .Site.BaseURL }}sitemap/">View the site map</a></li>
        <li><a href="{{ .Site.BaseURL }}contact/">Contact me</a> if you need further assistance.</li>
    </ul>
    <p>If you believe this is an error, please let me know!</p>
</div>
{{- end }}{{/* end main */ -}}
